* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    box-sizing: border-box;
  }
  
  
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
  }

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    height: 90vh;
    box-shadow: 10px 10px 10px gray;
    background-color: white;
    overflow: scroll;
}

.header {
    background: rgb(57, 101, 161);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 40vw;
    margin: 1vh;
    border-radius: 10px;
}

form {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh;
    font-size: 1.25rem;
    background-color: white;
}

ul {
    background-color: white;
}

.submitBtn {
    width: 5vw;
}

label {
    background-color: white;
}


li {
    list-style: none;
    display: flex;
    align-items: center;
    width: 37vw;
    max-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid gray;
    margin: 1.5vh;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 3px 10px rgba(128, 128, 128, 0.777);
    background-color: #e0e1dd;
}

.listItems {
    display: flex;
    justify-content: space-between;
}

.numbers {
    margin-right: 1.5vh;
    width: 1vw;
    background-color: #e0e1dd;
}

.text {
    background-color: #e0e1dd;
}

.taskText {
    width: fit-content;
    display: flex;
    align-items: flex-start;
    width: 37vw;
    background-color: #e0e1dd;
}

.btnBox {
    display: flex;
    background-color: #e0e1dd;
}

button {
    margin: 5px;
    padding: 4px;
    padding-right: 6px;
    padding-left: 6px;
    width: 2.75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dea25d3a ;
    border-radius: 6px;
    border: 1px solid gray;
}

input {
    height: 1vh;
    width: 25vw;
    border-radius: 50px;
    border: 1px solid gray;
    margin: 5px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.149);
}

.list {
    background-color: white;
}

.footer {
    background: linear-gradient(antiquewhite, rgba(178, 173, 173, 0.615));
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 5vh;
    font-size: 1em;
    padding: 5px;
    color: rgba(128, 128, 128, 0.73);
}

.unicorn {
    width: 37vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    padding-top: 3vh;
    padding-left: 1vw;
}


